node_modules
# Keep environment variables out of version control
.env

/generated/prisma
controller/cleanerReviewController - Copy.js
dumshiftController.js
dumconfigRoutes.js
softDeleteMiddleware.js
configurationTemplates.js
settings.json
generatetoken.js
test.json

